@tailwind base;
@tailwind components;
@tailwind utilities;

#post-content * {
  all: revert;
}

#post-content img {
  max-width: 800px !important;
}

@media (max-width: 767px) {
  #post-content img {
    width: 100% !important;
  }
}